:root {
    --jdmenu-bg-color: rgb(250,250,250);
    --jdmenu-border-color: rgb(200,200,200);
    --jdmenu-focus-color: rgb(235,235,235);
    --jdmenu-symbol-color:rgb(100,100,100);
    --jdmenu-width: 250px;
}

.jdmenu-bar {
    background-color: var(--jdmenu-bg-color);
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.jdmenu-item {
    display: flex;
    align-items : center;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Helvetica;
    font-size: 15px;
}

.jdmenu-item:hover {
    background-color: var(--jdmenu-focus-color);
    cursor: default;
}

.jdmenu-bar > .jdmenu-item {
    display: inline-block;
}

.jdmenu-submenu {
    display: none;
    position: fixed;
    z-index: 5;
    width: var(--jdmenu-width);
    background-color: var(--jdmenu-bg-color);
    border-color: var(--jdmenu-border-color);
    border-width: 1px;
    border-style: solid;
}

.jdmenu-item-left {
    margin-left: 0;
    width: 20px;
    font-size: 10px;
    color: var(--jdmenu-symbol-color);
}

.jdmenu-item-middle {
}

.jdmenu-item-right {
    margin-left: auto;
    color: var(--jdmenu-symbol-color);
}

.jdmenu-symbol {
    font-size: 7px;
}

